main {
    margin: 0 100px;
}

/* new year section.... */
.newyearbaner {
    background-size: contain;
    background-image: url(/img/Banner\ Image.png );
    background-repeat: no-repeat;
    height: 300px;
    color: white;
    text-align: center;
    padding-top: 200px;
    border-radius: 16px;
    margin-bottom: 100px;
    /* background: linear-gradient(180deg, black 0%, rgb(68, 66, 66) 100%); */
}

.party-text h4 {
    font-size: large;
    margin: 0;
    font-weight: 700px;


}

.party-text h1 {
    margin: 0;
    font-size: 80px;

}

/* offer section */
.offer-info {
    text-align: center;
}

.offer-info h1 {
    color: red;
    font-size: 100px;
    margin-bottom: 30px;
}

.offer-info h4 {
    color: rgb(233, 102, 102);
    font-size: 25px;
    margin: 0;
}

.offer-info h3 {
    color: black;
    font-size: 50px;
    margin: 0;
}

.offer-img img {
    display: flex;
    width: fit-content;
    margin-left: 150px;
    margin-right: 250px;
    background-color: rgb(74, 73, 73) 50%;
}

/* party section */
.party {
    background-image: url(/img/Vectorrr.png);
    margin-top: 100px;
    display: flex;
    align-items: center;
    padding: 100px;
    background-repeat: no-repeat;
    border-radius: 16px;
    justify-content: space-between;

}

.party-text button {
    color: white;
    background: red;
    padding: 5px 10px;
    font-size: 30px;
    border-radius: 10px;
    border: 0;
}

.party-text {
    color: white;

}

/* evont place and time */
.event {
    background: linear-gradient(180deg, pink 0%, white 100%);
    text-align: center;
    padding: 50px;
    margin-bottom: 100px;
    border-radius: 16px;
}

.event button {
    background: red;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: 0;
}

/* gift section */
.gift-text h3 {
    color: red;
}

.gift-img {
    display: flex;
}

.gift-img img {
    margin: 5px;
    border-radius: 16px;
    height: 350px;
    width: 400px;
}

.subscribe {
    background-color: pink;
    text-align: center;
    padding: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 16px;
}

.subscribe img {
    height: 100px;
}

.subscribe h1 {
    font-size: 60px;
    margin: 0;
}

.input input {
    margin: 0;
    padding: 0;
    box-decoration-break: none;
    height: 25px;
    border: 0;
    margin-right: 10px;

}

.input button {
    border-radius: 15px;
    height: 35px;
    border: 0;
    background: white;

}

.btn-text {
    background-color: red;
    color: white;
    height: 35px;
    width: 50px;
    padding: 8px;

}