body {
    margin: 0 100px;
}

/* new year section.... */
.newyearbaner {
    background-size: contain;
    background-image: url(/img/Banner\ Image.png );
    background-repeat: no-repeat;
    height: 300px;
    color: white;
    text-align: center;
    padding-top: 200px;
    border-radius: 16px;
    margin-bottom: 100px;
    /* background: linear-gradient(180deg, black 0%, rgb(68, 66, 66) 100%); */
}

.party-text h4 {
    font-size: large;
    margin: 0;
    font-weight: 700px;


}

.party-text h1 {
    margin: 0;
    font-size: 80px;

}

/* offer section */
.offer-info {
    text-align: center;
}

.offer-info h1 {
    color: red;
    font-size: 100px;
    margin-bottom: 30px;
}

.offer-info h4 {
    color: rgb(233, 102, 102);
    font-size: 25px;
    margin: 0;
}

.offer-info h3 {
    color: black;
    font-size: 50px;
    margin: 0;
}

.offer-img img {
    display: flex;
    width: fit-content;
    margin-left: 150px;
    margin-right: 250px;
    background-color: rgb(74, 73, 73) 50%;
}